*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# secrets
secrets.json
api_key.json

# OSX stuff
.DS_Store

# # migrations
# __incoming